for the EDA in pandas there is a library  named Pandas-profiling  (google it.. )

This library run with python version 3.11

find libraries to use as an alternate of ydata-profiling


skim py

# Automatic data Analysis using `ydata_profiling`

In [2]:
import pandas as pd
import seaborn as sns
import ydata_profiling as yd

In [ ]:
# Run this in your terminal, not in the notebook
# Replace 'env_name' with the name of your environment
conda env remove -n env_name

In [3]:
df= sns.load_dataset('titanic')

In [6]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## yData profile Report

In [10]:
profile= yd.ProfileReport(df)

profile.to_file(output_file='./outputHtml/titanic_data.html')

100%|██████████| 15/15 [00:00<?, ?it/s]20 [00:00<00:00, 41.28it/s, Describe variable: alone]
Summarize dataset: 100%|██████████| 41/41 [00:03<00:00, 13.42it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.61s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.18s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 90.66it/s]

In [11]:
pakData=pd.read_csv('../pandas_tips_tricks/pakistan_data.csv')

In [12]:
profile= yd.ProfileReport(pakData)

profile.to_file(output_file='./outputHtml/ydataProfile_pak_population.html')

100%|██████████| 21/21 [00:00<?, ?it/s]26 [00:00<00:00, 64.39it/s, Describe variable: ANNUAL GROWTH RATE (URBAN)]
Summarize dataset: 100%|██████████| 319/319 [00:33<00:00,  9.54it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.15s/it]
Render HTML: 100%|██████████| 1/1 [00:09<00:00,  9.99s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  7.01it/s]